<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test 4upp</title>

    <link rel="stylesheet" href="style.css">

    <!--font-awesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <head> 
        <link rel="stylesheet" href="css/style.css">
    </head>
    <div style="display: flex; margin-bottom: 14px;">
        
        <button onclick="javascript:location.href='/'" class="btn-top-home animation">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6" style="width: 30px; margin-bottom: 2px; margin-top: 17px;"><path d="M11.47 3.84a.75.75 0 011.06 0l8.69 8.69a.75.75 0 101.06-1.06l-8.689-8.69a2.25 2.25 0 00-3.182 0l-8.69 8.69a.75.75 0 001.061 1.06l8.69-8.69z"></path><path d="M12 5.432l8.159 8.159c.03.03.06.058.091.086v6.198c0 1.035-.84 1.875-1.875 1.875H15a.75.75 0 01-.75-.75v-4.5a.75.75 0 00-.75-.75h-3a.75.75 0 00-.75.75V21a.75.75 0 01-.75.75H5.625a1.875 1.875 0 01-1.875-1.875v-6.198a2.29 2.29 0 00.091-.086L12 5.43z"></path></svg>
            <h1 style="font-size: 16px; margin-bottom: 21px; padding: 0px 13px;"> الصفحة الرئيسية</h1>
        </button>
    
        <button onclick="javascript:location.href='/app/appstore/get-udid/install'" class="btn-top-install animation">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6" style="width: 30px; margin-bottom: 2px; margin-top: 17px;"><path d="M12 1.5a.75.75 0 01.75.75V7.5h-1.5V2.25A.75.75 0 0112 1.5zM11.25 7.5v5.69l-1.72-1.72a.75.75 0 00-1.06 1.06l3 3a.75.75 0 001.06 0l3-3a.75.75 0 10-1.06-1.06l-1.72 1.72V7.5h3.75a3 3 0 013 3v9a3 3 0 01-3 3h-9a3 3 0 01-3-3v-9a3 3 0 013-3h3.75z"></path></svg>
            <h1 style="font-size: 16px; margin-bottom: 21px; padding: 0px 13px;">تثبيت المتجر للمشتركين </h1>
        </button>
    
        <button onclick="javascript:location.href='/app/appstore/apps/free-trial'" class="btn-top-install animation">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6" style="width: 30px; margin-bottom: 2px; margin-top: 17px;"><path d="M12 1.5a.75.75 0 01.75.75V7.5h-1.5V2.25A.75.75 0 0112 1.5zM11.25 7.5v5.69l-1.72-1.72a.75.75 0 00-1.06 1.06l3 3a.75.75 0 001.06 0l3-3a.75.75 0 10-1.06-1.06l-1.72 1.72V7.5h3.75a3 3 0 013 3v9a3 3 0 01-3 3h-9a3 3 0 01-3-3v-9a3 3 0 013-3h3.75z"></path></svg>
            <h1 style="font-size: 16px; margin-bottom: 21px; padding: 0px 13px;">للتجربة المجانية </h1>
        </button>
    </div>
    
       <button onclick="javascript:location.href='/app/appstore/activations'" class="btn-top-activation animation">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6" style="width: 30px; margin-bottom: 2px; margin-top: 17px;"><path d="M5.566 4.657A4.505 4.505 0 016.75 4.5h10.5c.41 0 .806.055 1.183.157A3 3 0 0015.75 3h-7.5a3 3 0 00-2.684 1.657zM2.25 12a3 3 0 013-3h13.5a3 3 0 013 3v6a3 3 0 01-3 3H5.25a3 3 0 01-3-3v-6zM5.25 7.5c-.41 0-.806.055-1.184.157A3 3 0 016.75 6h10.5a3 3 0 012.683 1.657A4.505 4.505 0 0018.75 7.5H5.25z"></path></svg>
            <h1 style="font-size: 16px; margin-bottom: 21px; padding: 0px 13px;"> تفعيل الإشتراك بكود التسليم</h1>
        </button>
       
    
    
    
    
    
    
    
    
    <div class="card" style="border-radius: 20px;">
        <div class="header">
    
    
            <a href="/app/products/99b2cd0f-60c5-41ec-8ede-335d938daa0b"><img src="https://www7.0zz0.com/2023/09/01/14/189855048.jpeg" style="width: 250px; border-radius: 20px;"></a>
        <p class="desc">إشتراك يدعم الايفون والايباد </p>
        <ul class="lists">
            <li class="list">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                </svg>
                <span> اكثر من 400 تطبيق معدل ومدفوع</span>
            </li>
            <li class="list">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                </svg>
                <span> تطبيقات تفعيل الجلبريك </span>
            </li>
            <li class="list">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                </svg>
                <span> باقة سناب بأحدث الإصدارات  </span>
            </li>
            <li class="list">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                </svg>
                <span> ألعاب معدلة ومفتوحة المزايا  </span>
            </li>
            <li class="list">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                </svg>
                <span>تطبيقات بمميزات اضافية </span>
            </li>
            <li class="list">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                </svg>
                <span>ميزة تكرار لامحدود للتطبيقات </span>
            </li>
            <li class="list">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                </svg>
                <span>المتجر يدعم من إصدار 14 فما فوق </span>
            </li>
            <li class="list">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                    <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd"></path>
                </svg>
                <span>تفعيل الإشتراك فوري بدون انتظار   </span>
            </li>
        </ul>
            <a href="/app/products/99b31049-ee64-474a-9a96-fd25901b2bef" class="action"> إشتراك باقة المتجر VIP </a>
        <br>
        
    </div>
    </div>
     <br>
    
    
    
    
    <div v-if="vars.items.products.length" class="mt-12">
        <!-- <h2 class="text-center">منتجات تستحق الأطلاع عليها</h2> -->
    
    
    <div style="
        text-align: center;
        ">
    <div style="
        background: rgb(218 218 218);
        height: 14px;
        display: inline-flex;
        align-items: center;
        padding: 9px 14px;
    ">
    <h2 class="text-center" style="
        margin-top: -7px;
        color: rgb(0 0 0);">
        منتجات تستحق الأطلاع عليها 🤩</h2></div>
    
        <v-row class="mt-10">
            <v-col md="3" sm="4" cols="6" v-for="(product, index) in vars.items.products">
    
                <v-img :src="product.product_image_url" class="rounded" cover gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)">
                    <h5 v-if="product.is_out_of_stock && !product.external_url">
                        <div class="mt-2 ml-2 mr-2 pt-1 pl-1 pr-1 pb-1 rounded bg-error text-center" style="-webkit-backdrop-filter: blur(58px);backdrop-filter: blur(58px) !important;background: rgb(var(--v-theme-error), 0) !important;">
                            <div class="text-white font-size">نفذت الكمية</div>
                        </div>
                    </h5>
                    <h5 v-else-if="product.is_near_out_stock && !product.external_url">
                        <div class="mt-2 ml-2 mr-2 pt-1 pl-1 pr-1 pb-1 rounded bg-warning text-center" style="-webkit-backdrop-filter: blur(58px);backdrop-filter: blur(58px) !important;background: rgb(var(--v-theme-error), 0) !important;">
                            <div class="text-white font-size">اوشكت على الإنتهاء</div>
                        </div>
                    </h5>
                    <h5 v-else-if="product.is_low_of_stock && !product.external_url">
                        <div class="mt-2 ml-2 mr-2 pt-1 pl-1 pr-1 pb-1 rounded bg-warning text-center" style="-webkit-backdrop-filter: blur(58px);backdrop-filter: blur(58px) !important;background: rgb(var(--v-theme-error), 0) !important;">
                            <div class="text-white font-size">كمية محدودة</div>
                        </div>
                    </h5>
                </v-img>
                
                <div class="mt-2 text-h4 font-weight-bold text-center">
                    {{ product.title }}
                </div>
                
                <div class="mt-5 text-h7 text-center">
                    SAR {{ product.amount }}
                </div>
                
                <Link :href="'/app/products/' + product.uuid" class="href text-decoration-none">
                    <v-btn class="mt-5" variant="outlined" block style="background: linear-gradient(to right, rgb(46 223 243),rgb(30 175 252)) !important;color: rgb(255 255 255);border: none;">
                        <h4>التفاصيل</h4>
    
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6" style="
        width: 18px;
        margin-right: 6px;
        fill: rgb(255 255 255);
    ">
      <path fill-rule="evenodd" d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25zm-4.28 9.22a.75.75 0 000 1.06l3 3a.75.75 0 101.06-1.06l-1.72-1.72h5.69a.75.75 0 000-1.5h-5.69l1.72-1.72a.75.75 0 00-1.06-1.06l-3 3z" clip-rule="evenodd"></path>
    </svg>
                    </v-btn>
                </Link>
    
            </v-col>
        </v-row>
    </div>
    
    <div v-if="vars.items.tutorials.length" class="mt-12">
        <!-- <h2 class="text-center">الشروحات</h2> -->
    
    
    <div style="
        text-align: center;
    ">
    <div style="
        background: rgb(218 218 218);
        height: 14px;
        display: inline-flex;
        align-items: center;
        padding: 9px 14px;
    ">
    <h2 class="text-center" style="
        margin-top: -7px;
        color: rgb(0 0 0);
    "> الشروحات 🎥</h2>
    </div>
    </div>
    
    
        <v-row class="mt-10">
            <v-col md="3" sm="4" cols="6" v-for="(tutorial, index) in vars.items.tutorials">
                
                <v-img :src="tutorial.logo_url" class="rounded" gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)" />
            
                <div class="mt-5 text-h6 text-center">
                    {{ tutorial.title }}
                </div>
                
                <a :href="tutorial.url" target="_blank" class="href text-decoration-none">
                    <v-btn class="mt-5" variant="outlined" block style="background: linear-gradient(to right, rgb(46 223 243),rgb(30 175 252)) !important;color: rgb(11 185 167);border: none;">
                        <h4>متابعة</h4>
                        <svg version="1.1" style="width: 18px;margin-right: 6px;fill: rgb(255 255 255);" viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:serif="http://www.serif.com/" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M501.303,132.765c-5.887,-22.03 -23.235,-39.377 -45.265,-45.265c-39.932,-10.7 -200.038,-10.7 -200.038,-10.7c0,0 -160.107,0 -200.039,10.7c-22.026,5.888 -39.377,23.235 -45.264,45.265c-10.697,39.928 -10.697,123.238 -10.697,123.238c0,0 0,83.308 10.697,123.232c5.887,22.03 23.238,39.382 45.264,45.269c39.932,10.696 200.039,10.696 200.039,10.696c0,0 160.106,0 200.038,-10.696c22.03,-5.887 39.378,-23.239 45.265,-45.269c10.696,-39.924 10.696,-123.232 10.696,-123.232c0,0 0,-83.31 -10.696,-123.238Zm-296.506,200.039l0,-153.603l133.019,76.802l-133.019,76.801Z"></path></svg>
                    </v-btn>
                </a>
    
            </v-col>
        </v-row>
    
    <div v-if="vars.items.tutorials.length" class="mt-12">
    
    
    
    </div>

</body>
</html>
